body{
	background: #eee;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

path{
	transition: .4s ease-in-out;
	transform: translateZ(0);
}
#test{
	position: absolute;
	z-index: 2;
}

#draw-target{
	display: block;
	margin: 0 auto;
	background-color: #fff;
}