body{
	background: #eee;
	padding: 0;
	margin: 0;
	// overflow: hidden;
}
*{
	box-sizing: border-box;
}
.chart__window path{
	transition: .4s ease-in-out;
	transform: translateZ(0);
}
.chart__window .dragging path{
	transition: 0.05s ease-in-out;
}

.chart_wrapper{
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
}
.chart__window{
	position: relative;
	width: 100%;
	height: 350px;
}
.chart__map{
	height: 100px;
	margin: 10px 0;
	position: relative;
	overflow: hidden;
}
.chart__controls{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.chart__control-start{
	width: 10px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 1;
	user-select: none;
}
.chart__control-start:before{
	content: '';
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	right: 100%;
	background-color: rgba(51, 163, 218, .5);
	pointer-events: none;
}
.chart__control-end{
	width: 10px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #000;
	z-index: 1;
	user-select: none;
}
.chart__control-end:before{
	content: '';
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: rgba(51, 163, 218, .5);
	pointer-events: none;
}
svg{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
}