body{
	background: #fff;
	padding: 0 15px;
	margin: 0;
	font-family: "Roboto";
	color: #333;
}
*{
	box-sizing: border-box;
}



.value-lines-wrapper{
	path{
		transition: .4s linear;
		transform: translateZ(0);
	}
}

.dates-wrapper text, .values-wrapper text{
	transition: opacity .4s ease-in-out;
	transform: translateZ(0);
}


.chart_wrapper{
	position: relative;
	margin: 30px auto 0;
	width: 100%;
	max-width: 600px;
	path{
		transition: .4s ease-in-out;
		transform: translateZ(0);
	}
}
.chart__window{
	position: relative;
	width: 100%;
	height: 350px;
}
.chart__map{
	height: 100px;
	margin: 10px 0;
	position: relative;
}


.dragging {
	.chart-wrapper {
		path{
			transition: .1s ease-in-out;
		}
	}
	.value-lines-wrapper {
		path{
			transition: .1s linear;
		}
	}
}
.scheme-change {
	path {
		transition: 0s !important;
	}
}


// right
.switch-link{
	display: block;
	width: 100%;
	text-align: center;
	margin: 15px 0;
	cursor: pointer;
	user-select: none;
}

.active-item{
	opacity: 1 !important;
}
.removing-item{
	opacity: 0 !important;
}

.no-data-placeholder{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tooltip-text{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	border-radius: 7px;
	padding: 10px 0px 0px 15px;
	max-width: 220px;
}

.tooltip-date{
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	margin-right: 15px;
	white-space: nowrap;
}

.tooltip-values-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.tooltip-value-wrapper{
	margin: 0 15px 10px 0;
	flex-grow: 1;
	width: calc(50% - 15px);
	white-space: nowrap;
}
.tooltip-value{
	font-size: 17px;
	font-weight: bold;
	display: block;
}
.tooltip-value-name{
	font-size: 15px;
	display: block;
}

.chart__buttons{
	display: flex;
	flex-wrap: wrap;
}

.chart-control-button{
	background: transparent;
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 5px 12px 5px 7px;
	border-width: 1px;
	border-style: solid;
	margin: 0 15px 15px 0;
	font-size: 14px;
	cursor: pointer;
	&:focus{
		outline: none;
	}
	span{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 22px;
		color: #fff;
		position: relative;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 10px 0 0;
		border: 2px solid;
		.background{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			transition: .5s ease;
			transform: scale(0);
			border-radius: 100%;
		}
		i{
			position: relative;
			z-index: 2;
			display: block;
			font-size: 0;
			transition: .3s ease;
			text-align: center;
			padding-right: 2px;
		}
	}
	&.active{
		span{
			.background{
				transform: scale(1);
			}
			i{
				font-size: 12px;
			}
		}
	}
}